{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">
        <!-- <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol"
            placeholder="Symbol" type="text"> -->

        <!-- {{index}} -->

        <select name="symbol" id="symbol">
            {% for item in index %}
            <option value={{item.symbol}}>{{item.symbol}}</option>
            {% endfor %}
        </select>



        <input autocomplete="off" class="form-control mx-auto w-auto" min="1" name="shares" placeholder="Shares"
            type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
<div>
    <br>
</div>
<div>
    <!-- {{result}} -->
    {{price}}
    {{new_amount}}
</div>
{% endblock %}